.job-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:280px;
    background-color: white;
    padding: 18px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border-radius: 3px;
}

.job-card h3{
    width: 80%;
    color: var(--lightGrey);
    font-weight: 500;
}
.job-card p{
    width: 220px;
    font-size: 12px;
    height: 40px;
    color: #303F60;
    white-space:pre-line; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.job-apply{
    display: flex;
    justify-content: space-between;
}

.view-application-btn{
    background-color: #EDF6FF;
    color:var(--lightGrey);
    border: 0px;
}
.view-location{
    background-color: white;
    color:var(--lightGrey);
    border: 0px;
}