*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --Lightskyblue: #7087FE;
  --outlineBlue: #37486D;
  --skyblue:#43AFFF;
  --lightGrey:#303F60;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDF6FF;
}
a{
  text-decoration: none;
}

.text-white{
  color: white;
}

.text-blue{
  color: var(--skyblue)
}
.text-outlineblue{
  color: var(--outlineBlue);
}


.btn{
  padding: 10px 16px;
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
  text-transform:none;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
  
}
.error{
  border: 1px solid red !important;
}
